:root {
    --darkColor: #47595A;
    --smallPicSize: 35%;
    --widthOfContent: 70%;
    --lightGreen: #BAD3D2;
}

body {
    background-color: #F4F4F4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--darkColor);
}

/* HEADER styling here (my name and the NavBar) */
.header {
    background-color: var(--darkColor);
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: space-between;
}

.header h1 { 
    font-size: 48px;
    background-color: var(--lightGreen);
    border-radius: 0 15px 15px 0;
    padding: 5px 10px 5px 60px;
    color: var(--darkColor);
}

.header div ul li {
    margin-left: 30px;
    font-size: 20px;
    color: white;
    display: inline;
    line-height: 3;
}

/* Welcome photo and "Welcome to my page" */
.coverPhoto {
    height: 300px;
    width: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/750/612/original/flat-design-abstract-background-soft-liquid-shapes-template-with-modern-gradient-background-colors-cool-aesthetic-background-design-suitable-for-social-media-post-mobile-app-banner-web-ads-free-vector.jpg");
    background-size: cover;
}

.coverPhoto #welcome {
    z-index: 1;
    background-color: var(--lightGreen);
    font-size: 25px;
    padding: 10px 60px 10px 10px;
    border-radius: 15px 0 0 15px;
    float: right;
    margin-top: 200px;
}

/* Main content of the page starts here.*/
.content {
    margin: 20px;
}

.sideBarHeading {
    font-size: 50px;
    color: var(--darkColor);
    text-align: right;
    border-right-style: solid;
    border-color: var(--darkColor);
    padding: 30px;
    width: 300px;
}

/* Section 1: About Me */
.aboutMe {
    display: flex;
}

.aboutMe #bio {
    width: var(--widthOfContent);
}

.aboutMe div p {
    margin-bottom: 15px;
    margin-left: 5%;
    line-height: 1.5;
}

/* Section 2: My work */
.work {
    display: flex;
}

img {
    opacity: .5;
}

img:hover {
    cursor: grab;
    opacity: 1;
}

.photos {
    margin-left: 5%;
    width: 75%;
}

#atl {
    width: var(--widthOfContent);
    padding: 1%;
    background-color: var(--lightGreen);
    margin-bottom: 2%;
}

h3 {
    font-size: 15px;
    background-color: var(--lightGreen);
    padding: 10px;
    border-radius: 0 15px 15px 0;
    float: left;
}

.photo1 img h3 {
    z-index: 1;
}

.smallPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.smallPics img { 
    width: var(--smallPicSize);
    padding: 1%;
    background-color: var(--lightGreen);
    margin: 2% 2% 2% 0;
}

.contact {
    display: flex;
}

.reachMe {
    margin-left: 5%;
    font-size: 20px;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
    align-items: center;
}