* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #787878;
    padding: 25px 25px 25px 0;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 48px;
    background-color: #BAD3D2;
    border-radius: 0 15px 15px 0;
    padding: 5px 10px 5px 60px;
    color: #787878;
}

.header div ul li {
    margin-left: 50px;
    font-size: 20px;
    color: white;
    display: inline;
    line-height: 3;
}

.atlanta {
    height: 250px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
    background-size: cover;
}

.atlanta #welcome {
    z-index: 1;
    color: #787878;
    background-color: #BAD3D2;
    font-size: 25px;
    padding: 10px 60px 10px 10px;
    border-radius: 15px 0 0 15px;
}